.wrap{
    font-family: Arial;
    color:#4a7194;
}
#tabs { margin: 1em 0 1px 0; }
#tabs li { display: inline; width: 50px; }
#tabs a { 
    padding: 3px 8px 2px 8px; 
    border: 1px solid #4a7194; 
    margin-left: 0px; 
    text-decoration: none;
    font-weight: bold;
}

#cwp-content{
    float:left;
    width:99%;
    margin: 1px 0 0 0;
    border: 1px #4a7194 solid;
    min-height: 100px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#box{
    float:left;
    width:98%;
    background-color: #ECF1EF;
    padding: 8px;
    border-radius:5px;
    margin-bottom: 20px;
}
.tab-content{
    margin:10px;
}
.tab-content h3{
    margin-left : 5px;
}
#label{
    float:left;
    font-weight: bold;
    width: 450px;
    height: 30px;
    text-align: right;
}
.txt{
    width: 500px;
    border: 1px #4a7194 solid;
    margin-left:10px;
    font-family: Arial;
    float:left;
}
.inpt{
    font-family: Arial;
    font-weight: bold;
    color:#4a7194;
    margin-bottom: 10px;
    margin-top: 10px;
}
form select{
    font-family: Arial;
    margin-left:10px;
}
.color-preview{
    width: 22px;
    height: 22px;
    margin-left: 10px;
    border: 1px #CCC solid;
    float:left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.slct{
    font-family: Arial;
    margin-left:10px;  
}
.widget-poll{
    margin-bottom: 5px;
    padding: 3px;
    text-align: left;
}
.widget-poll-question{
    font-weight: bold;
}
#cwp-graph{
    float: left;
    background-color: #FFF;
    width: 625px;
    height: 600px;
    margin: 20px;
    margin-left:50px;
    border: 1px solid #FFF;
    font-family: Arial;
    font-size: 11px;
    
}
#cwp-yaxis{
    float: left;
    width: 50px;
    text-align: right;
}
#cwp-yaxis .cwp-yaxis-label{
    float:left;
    width: 50px;
    height: 50px;
    font-weight: bold;
}
#cwp-graph-content{
    float:left;
    width: 550px;
    height:500px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
}
#cwp-graph-bar{
    float:left;
    background-color: #4a7194;
    
}
#cwp-xaxis{
    float: left;
    margin-left: 50px;
    width: 550px;
    height: 60px;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}
#clear{
    clear:both;
}

#popup_container {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 2px #4a7194;
	color: #000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	line-height: 1.75em;
	color: #4a7194;
	background: #CCC url(images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
        padding-left:5px;
}

#popup_content {
	background: 16px 16px no-repeat url(images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(images/info.gif);
}

#popup_content.confirm {
	background-image: url(images/help.gif);
}

#popup_content.prompt {
	background-image: url(images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

.poll-wh-style{padding:2px 10px 2px 10px;}

html.wp-toolbar body.wp-admin div#footer{
    display: none;
}

.total-voters, .total-votes, .result-answer{
    width: 100%;
}
.result-answer{
    padding-top: 10px;
}